.input {
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--bg);
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    width: 100%;
}