.container {
    background-color: var(--bg);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    color: var(--secondary);
    margin-bottom: 40px;
    padding: 10px;
}

.author {
    font-size: 0.95rem;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}