.container {
    color: var(--pure);
    font-size: 0.9rem;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

.success {
    background-color: var(--blue);
}

.error {
    background-color: var(--error);
}