.container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: var(--bgc);
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--pure);
    cursor: pointer;
    margin-top: 20px;
    padding: 15px;
}